.wireframe {
  border: 1px solid red;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

